.footer {
  height: 90px;
  border-radius: 0px;
  /* padding: 48px 0px 48px 0px; */
  width: 100%;
}

.footer__wrapper {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.footer__wrapper img {
  height: 32px;
  width: 187.58621215820312px;
}

.footer__wrapper p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #667085;
}

.footer__wrapper img:last-child {
  height: 32px;
  width: 132.1290283203125px;
  left: 1083.8709716796875px;
  top: 32px;
  border-radius: 0px;
}

@media (max-width: 568px) {
  .footer {
    padding-bottom: 5rem;
  }

  .footer p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }

  .footer img {
    height: 18.552810668945312px;
    width: 138.7725830078125px;
    left: 1.018310546875px;
    top: 5.237060546875px;
    object-fit: cover;
    border-radius: 0px;
  }
  .footer img:last-child {
    height: 24px;
    width: 99.09677124023438px;
    object-fit: cover;

    border-radius: 0px;
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 85%;
  }
}
